<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TipCalculator.Properties.Settings.con" connectionString="Data Source=.; Initial Catalog = tip_calculator_db; TrustServerCertificate=True; Integrated Security=True" />
    </connectionStrings>
</configuration>